<style>
.image-container {
  display: flex;
  justify-content: space-between;
  
}

.column {
  flex: 1;
  margin: 0 10px;
  border: 5px solid #0e5f80;
  padding: 5px;
}
.car-price {
  color: green;
  font-size: 26px;
}

</style>

<h1>Автомобілі, які продаються</h1>
<div class="image-container">
  <div class="column">
    <img src="/assets/skoda_octavia_rs.jpg" alt="Зображення 3" style="width: 100%;">
    <h3 class="car-name">Skoda Octavia RS 2017</h3>
    <p class="car-price">$12 790</p>
    <ul class="car-features">
      <li>Пробіг: 209 тис.км.</li>
      <li>Двигун: 1.6л. Дизель</li>
      <li>Коробка передач: механічна</li>
    </ul>
  </div>
  <div class="column">
    <img src="/assets/skoda oktaiva.jpg" alt="Зображення 2" style="width: 100%;">
    <h3 class="car-name">Skoda Octavia A5 2010</h3>
    <p class="car-price">$8 800</p>
    <ul class="car-features">
    <li>Пробіг: 214 тис.км.</li>
    <li>Двигун: 1.6л. Газ/бензин</li>
    <li>Коробка передач: механічна</li>
    </ul>
  </div>
  <div class="column">
    <img src="/assets/opel.jpg" alt="Зображення 3" style="width: 100%;">
    <h3 class="car-name">Opel Astra H 2008</h3>
    <p class="car-price">$3 950</p>
    <ul class="car-features">
    <li>Пробіг: 238 тис.км.</li>
    <li>Двигун: 1.4л. Газ бензин</li>
    <li>Коробка передач: механічна</li>
    </ul>
  </div>
</div>



