<div class="container">
<style>
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #ff6600;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  ul {
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  .highlight {
    color: #ff6600;
    font-weight: bold;
  }
</style>

  <h1>Про нас</h1>
  <p>Ласкаво просимо на веб-сайт продажу автомобілів "Autosale"!</p>

  <h2>Наша місія</h2>
  <p>Наша місія полягає в тому, щоб забезпечити клієнтам доступ до найкращих автомобілів на ринку та забезпечити надійну та зручну платформу для купівлі і продажу автомобілів.</p>

  <h2>Наші цінності</h2>
  <ul>
    <li><span class="highlight">Професіоналізм:</span> Ми прагнемо до найвищих стандартів професійної роботи і надаємо якісне обслуговування клієнтів.</li>
    <li><span class="highlight">Надійність:</span> Ми гарантуємо, що кожен автомобіль, представлений на нашому сайті, пройшов ретельну перевірку та відповідає всім вимогам безпеки і якості.</li>
    <li><span class="highlight">Клієнтоорієнтованість:</span> Ми ставимо потреби та задоволення наших клієнтів на перше місце і завжди намагаємося перевершити їх очікування.</li>
  </ul>

  <h2>Наша команда</h2>
  <p>Наша команда складається з досвідчених фахівців з автомобільної галузі, які мають глибокі знання про автомобілі та ринок продажу. Ми працюємо разом, щоб забезпечити найкращі умови для наших клієнтів.</p>

  <h2>Зв'яжіться з нами</h2>
  <p>Якщо у вас є будь-які питання або ви бажаєте отримати більше інформації, будь ласка, зв'яжіться з нами за допомогою наших контактних даних нижче:</p>
  <ul>
    <li>Телефон: +380966191809</li>
    <li>Email: stepan.mykhailov5@gmail.com</li>
    <li>Адреса: вул. Дорошенка 28, м.Івано-Франківськ, Україна</li>
  </ul>
</div>
